body {
	background-color: #e7e7e7;
	font-family: SFUIText-Regular, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
}
table {
	background: white;
	width: 30%;
	min-height: 55px;
	padding: 0px 7px 7px 30px;
	border: 1px solid #ccc;
}
tr {
	margin-left: 10px;
}
td {
	height: 55px;
	border-bottom: 1px dashed #ddd;
}
#main {
	width: 95%;
	margin: 0px auto;
	padding-top: 7px;
}
#buttons {
	float: right;
	width: 64%;
	padding: 7px;
	margin: -10px 0px 0px 0px;
}
.icon {
	color:#888;
    cursor: pointer;
	font-size: 28px;
	margin-top: 5px;
}
.icon:active {
    color: #333;
}
.button {
    background-color: #f1fbff;
    border: 3px solid #7DC8EB;
    color: #333;
	width: 19%;
	height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold 14px Arial,Sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}
.button:active {
    background-color: #7DC8EB;
    color: #fff;
}
.enviar {
    border: 3px solid #2a84af;
	background-color: #4ca1ca;
    color: #333;
    padding: 15px 32px;
    font: bold 16px Arial,Sans-serif;
    cursor: pointer;
	float: right;
	margin-top: 5px;
}
.enviar:active {
	background-color: #2a84af;
    color: white;
}